
# This CI will lauch a Docker image that contains all the dependencies required
# within that image the pytest test suite is run 


name: CI with install

on:
  pull_request:    
    branches:
    - develop
    - main
 
jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libglu1-mesa libgl1

      - name: install package
        run: |
          python -m pip install --extra-index-url https://shimwell.github.io/wheels moab openmc
          python -m pip install .[tests]

      - name: Run test_utils
        run: |
          python -m pytest

      - name: Upload to codecov
        uses: codecov/codecov-action@v2
